#navbar {
    background-color: black;
        overflow: hidden;
}

#navbar .navbarItem {
    color: white
}

.navbarItem {
    display: inline !important;
}

.navbarItem:hover {
    background-color: lightseagreen;
}